.esse_main_row {
    /* background-image: url('ui_change.jpeg'); */
}

.esse_card_start {
    background: #FFFFFF;
    /* Greyscale/Grey 200 */

    border: 1px solid #E4E4E7;
    border-radius: 24px 0px 0px 24px;
    max-width: 590px;
    height: 716px;
    margin-right: 0px;
    margin-left: auto;
    /* background-image: url('ui-box1.jpeg'); */
    background-size: contain;
    text-align: center;
}

.esse_card_end {
    background: #FFFFFF;
    /* Greyscale/Grey 200 */

    border: 1px solid #E4E4E7;
    border-radius: 0px 24px 24px 0px;
    max-width: 590px;
    height: 716px;
    margin-right: auto;
    margin-left: 0px;
    text-align: center;
    /* background-image: url('ui-box2.jpeg'); */
    background-size: contain;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.esse_logo {
    font-weight: 1000;
    font-size: 35px;
    margin-top: 35px;
}

.esse_description {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    /* or 88px */

    text-align: center;
    letter-spacing: -0.02em;

    color: #000929;
    margin-top: 55px;

}

.esse_search {
    color: #3981F7
}

.esse_description_2 {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    /* or 34px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Main Color/Black */

    color: #0A112F;
    margin-top: 26px;
}

.esse_get_started {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 22px 32px; */
    gap: 16px;

    width: 199px;
    height: 80px;
    margin: 2.5% auto;

    /* Main Color/Black */

    background: #0A112F;
    border-radius: 100px;
}

.esse_get_started_text {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    letter-spacing: -0.01em;

    /* Main Color/White */

    color: #FFFFFF;

}

.esse_api_key {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 217%;
    /* identical to box height, or 29px */

    letter-spacing: -0.01em;

    color: #000000;
    margin-top: 60px;
}

.esse_key_input {
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    padding: 12.6208px 16.1546px !important;
    gap: 4.04px !important;

    width: 343.92px !important;
    height: 40.24px !important;

    background: #F5F9FF;
    border-radius: 50.4831px !important;

      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 160% !important;
    margin: auto;
    margin-top: 10px;
}

.esse_save_and_submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11.1063px 16.1546px;
    gap: 8.08px;
    margin-left: 10px;
    height: 40.21px;

    /* Main Color/Black */

    background: #0A112F;
    border-radius: 50.4831px;
    cursor: pointer;
    margin: auto;
    margin-top: 23px;
}

.esse_save_and_submit_text {
    height: 18px;

      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: -0.01em;

    /* Main Color/White */

    color: #FFFFFF;


}

.esse_message {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    font-feature-settings: 'ss03' on;

    /* Greyscale / Grey 600 */

    color: #585860;
    margin-top: 59px;
}

.esse_a_href {
    text-decoration: none;
    display: contents;
}

/* second box - customization */
.customise_plugin {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;

    line-height: 160%;
    /* or 35px */

    letter-spacing: -0.01em;

    color: #000000;

    margin-top: 63px;
    margin-left: 35px;
    display: flex;

}

.esse_field_name {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    letter-spacing: -0.01em;

    /* Main Color/Black */

    color: #0A112F;
    margin-left: 11px;
    margin-top: 2px;


}

.esse_color_input_box {
    background: #FFFFFF;
    /* border: 1px solid #E4E4E7; */
    border-radius: 2px;
    margin-right: 0px;
    margin-left: auto;
    padding: 2px;
    margin-top: -4px;
}

.esse_color_input {
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    border-radius: 2px;
    width: 161px;
    /* height: 24px; */
    /* background: #57C5B6; */
    border-radius: 2px;
}

.esse_checkbox {
    width: 22.34px!important;
    height: 22.34px!important;
    margin: 0px!important;
    -webkit-appearance: auto!important;
}
.esse_checkbox[type=checkbox]:checked::before, input[type=radio]:checked::before {
    display: none;
}

.esse_field_box {
    padding: 0px 28px 0px 39px;
}

.esse_field_loop {
    margin-top: 34px;
    display: flex;
}

.esse_text_input {
    background: #FFFFFF;
    border: 1px solid #E4E4E7;
    border-radius: 2px;
    width: 161px;

    margin-right: 0px;
    margin-left: auto;
    margin-top: -4px;
    padding-left: 10px;

      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    letter-spacing: -0.01em;

    color: #000000;
    font-weight: 500;

}

.esse_save_and_submit_2 {
    margin-top: 52px;
    width: 200px;
}

.reset_to_default {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    letter-spacing: -0.01em;

    color: #0A112F;
    margin: auto;
    text-align: center;
    margin-top: 37px;
    border: none;
    background: none;

    background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

@media only screen and (max-width: 991px) {
    .esse_card_start {
        margin: auto;
    }

    .esse_card_end {
        margin: auto;
    }

}

@media only screen and (max-width: 529px) {
    .esse_card_start {
        height: auto;
        padding-bottom: 30px;
    }

    .esse_card_end {
        height: auto;
        padding-bottom: 30px;
    }

    .esse_key_input {
        width: auto !important;
    }

    .esse_color_input,
    .esse_text_input {
        width: 100px;
        max-height: 29px;
    }
}
@media (min-device-width: 992px) and (max-device-width: 1330px) {
    /* For portrait layouts only */
    .esse_description{
        font-size: 3vw;
    }
  }